#flaggedcomments-deletecomment-modal-delete {
    margin-right: 10px;
}
#flaggedcomments-untagcomment-modal-untag {
    margin-right: 10px;
}
#page-admin-tool-thi_learning_companions-groups-index #page.drawers .main-inner,
#page-admin-tool-thi_learning_companions-comments-index #page.drawers .main-inner {
    max-width: none;
}