<h1>{{#str}}administration_head, tool_learningcompanions{{/str}}</h1>
<h2 class="mb-5">{{#str}}commentsoverview, tool_learningcompanions{{/str}}</h2>
{{#hascomments}}
    <table class="stripe hover compact" id="flaggedcommentstable" data-paging="true" data-page-length="50">
        <thead>
            <tr>
                <th>{{#str}}comment, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}commentedby, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}flaggedby, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}commentdate, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}relatedchat, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}actions, tool_learningcompanions{{/str}}</th>
            </tr>
        </thead>
        <tbody>
    {{#comments}}
    <tr>
        <td {{#commentcut}} data-balloon="{{origincomment}}" data-balloon-pos="up" data-balloon-blunt data-balloon-length="xlarge" {{/commentcut}}>
            {{plaintext}}
        </td>
        <td>
            <span class="authorprofilelink">
                <a href="{{author_profileurl}}">{{author_fullname}}</a>
            </span>
        </td>
        <td>
            <span class="flaggedbyprofilelink">
                <a href="{{flaggedbyuser_profileurl}}">{{flaggedbyuser_fullname}}</a>
            </span>
        </td>
        <td data-order="{{timecreated}}">
            {{commentdate}}
        </td>
        <td>
            <span class="relatedchatlink">
                <a href="/local/learningcompanions/chat.php?groupid={{groupId}}&postId={{id}}">link</a>
            </span>
        </td>
        <td>
            <span data-balloon="{{#str}}delete_comment, tool_learningcompanions{{/str}}" data-balloon-pos="up">
                <i class="fa fa-trash flaggedcomments-deletecomment" data-cid="{{id}}" data-comment="{{origincomment}}"></i>
            </span>
            <span data-balloon="{{#str}}untag_comment, tool_learningcompanions{{/str}}" data-balloon-pos="up">
                <i class="fa fa-rotate-left flaggedcomments-untagcomment" data-cid="{{id}}" data-comment="{{origincomment}}"></i>
            </span>
        </td>
    </tr>
    {{/comments}}
        </tbody>
    </table>
{{/hascomments}}
{{^comments}}
    <p>{{#str}}noflaggedcomments, tool_learningcompanions{{/str}}</p>
{{/comments}}
<a class="btn btn-primary mt-5" href="{{cfg.wwwroot}}/admin/tool/learningcompanions/index.php">{{#str}}back_to_admin_dashboard, tool_learningcompanions{{/str}}</a>