<h1>{{#str}}administration_head, tool_learningcompanions{{/str}}</h1>
<h2 class="mb-5">{{#str}}groupoverview, tool_learningcompanions{{/str}}</h2>
{{#hasgroups}}
    <table class="stripe hover compact" id="allgroupstable" data-paging="true" data-page-length="50">
        <thead>
            <tr>
                <th>{{#str}}groupname, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}membercount, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}groupdescription, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}groupcreatedby, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}groupadmins, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}grouptimecreated, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}closedgroup, tool_learningcompanions{{/str}}</th>
                <th>{{#str}}lastactivity, tool_learningcompanions{{/str}}</th>
            </tr>
        </thead>
        <tbody>
        {{#groups}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    {{membercount}}
                </td>
                <td {{#descriptioncut}} data-balloon="{{origindescription}}" data-balloon-pos="up" data-balloon-blunt data-balloon-length="xlarge" {{/descriptioncut}}>
                    {{{description}}}
                </td>
                <td>
                    <span class="groupcreaterprofilelink">
                        <a href="{{createdby_profileurl}}">{{createdby_fullname}}</a>
                    </span>
                </td>
                <td>
                    {{#admins}}
                        <span class="groupadminprofilelink">
                            <a href="{{profileurl}}">{{fullname}}</a>
                        </span>
                    {{/admins}}
                </td>
                <td data-order="{{timecreated}}">
                    {{timecreated_dmY}}
                </td>
                <td>
                    {{{closedgroupicon}}}
                </td>
                <td data-order="{{latestcomment}}">
                    {{latestcomment_userdate}}
                </td>
            </tr>
        {{/groups}}
        </tbody>
    </table>
{{/hasgroups}}
{{^groups}}
    <p>{{#str}}nogroups, tool_learningcompanions{{/str}}</p>
{{/groups}}
<a class="btn btn-primary mt-5" href="{{cfg.wwwroot}}/admin/tool/learningcompanions/index.php">{{#str}}back_to_admin_dashboard, tool_learningcompanions{{/str}}</a>